.project-heading {
    text-align: center;
    padding: 8rem 0 1rem 0;
  }
  
  /* .project-container {
    max-width: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    padding-bottom: 5rem;

  } */
  .project-container {
    max-width: 1100px;
    margin: 0 auto; /* Esto centrará el contenedor en la página horizontalmente */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px; /* Espacio entre tarjetas */
    padding-bottom: 5rem;
    justify-content: center; /* Centrar las columnas horizontalmente */
    text-align: center;
    margin-top: 40px;
  }
  
  .project-card {
    /*background: #e0dddd;*/
    background: #444;
    border-radius: 5px;
    padding-bottom: 0%;
  }
  
  .project-card:hover {
  transform: translateY(-5px); /* Mueve la tarjeta hacia arriba 5px al pasar el mouse */
    opacity: 0.8; /* Reduce the opacity to make it appear transparent */
    /* You can also change other styles like background color on hover */
  }
  
  .project-card img {
    width: 100%;
  }
  
  .project-title {
    color: azure;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif; /* Aquí aplicas la nueva fuente al título */
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
    font-weight: 700;  /* Negrita */
    letter-spacing: 1px; /* Espaciado entre letras */
  }
  
  .pro-details p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
  }
  
  .pro-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  
  .pro-btns .btn-2 {
    padding: 0.5rem 1rem;
  }
  
  .car-contenedor {
    width: 100%;
    height: 15vh;
    position: relative;
    background-color: darkslateblue;
  }

  @media screen and (max-width: 1200px) {
    .project-container {
      max-width: 90%;
      margin: auto;
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (max-width: 740px) {
    .project-container {
      max-width: 90%;
      margin: auto;
      grid-template-columns: 1fr;
    }
  }