.logo-container {
    background-color: #333333;
    padding: 1rem 65px 1rem 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .logo {
    width: 100px; /* El tamaño que desees */
    height: auto;
    margin: 0 10px; /* Espacio entre los logotipos */
  }
  
  .colum-2 p {
    margin-bottom: 7px; /* Puedes ajustar este valor según el espacio que desees entre los párrafos */
}

  @media screen and (max-width: 1100px) {
      .logo {
        width: 10%; /* El 100% de ancho para que ocupe toda la columna en dispositivos con un ancho máximo de 1000px */
        max-width: 90px; /* Establecemos un tamaño máximo para evitar que sean demasiado grandes */
        margin: 0 10px; /* Espacio entre los logotipos en columna */
      }
      
    }

    @media screen and (max-width: 1100px) {
        .logo{
            width: 10%; /* El 100% de ancho para que ocupe toda la columna en dispositivos con un ancho máximo de 1000px */
        max-width: 80px; /* Establecemos un tamaño máximo para evitar que sean demasiado grandes */
        margin: 0 5px; /* Espacio entre los logotipos en columna */
        }
    }